@model IEnumerable<WebApplication1.Models.Libro>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdautorNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdcategoriaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdautorNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdcategoriaNavigation.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdLibro">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdLibro">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdLibro">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
